<div class="container">
    <form novalidate [formGroup]="dynamicFormGroup" *ngIf="isFormValid; else formNotValid">
        <h1> {{ formData.formName }} </h1>
        <div class="form-group col-md-4" *ngFor="let control of formData.formControls">
            
            <div [ngSwitch]="control.controlType">

                <!-- CONTROL LABEL -->
                <label [attr.for]="control.key" *ngIf="!(control.controlType == 'selectbox')"> {{ control.label }} </label>

                <!-- CONTROL TYPE: INPUT -->
                <ng-container *ngSwitchCase="'textbox'">

                    <!-- FILEBOX -->
                    <input 
                        class="form-control"
                        *ngIf="control.type == 'file'"
                        [formControlName]="control.key"
                        (change) = "onFileChange($event)"
                        [ngClass]="{
                            'is-valid': dynamicFormGroup.controls[control.key].valid && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched),
                            'is-invalid': dynamicFormGroup.controls[control.key].invalid && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched)
                        }"
                        [accept]="control?.accept"
                        [multiple]="control?.multiple"
                        type="file"
                    >
                    <input 
                        class="form-control"
                        [style.class]="fileDragAreaClass"
                        *ngIf="control.type !== 'file'"
                        [formControlName]="control.key"
                        [ngClass]="{
                            'is-valid': dynamicFormGroup.controls[control.key].valid && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched),
                            'is-invalid': dynamicFormGroup.controls[control.key].invalid && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched)
                        }"
                        [value]="control.value || ''"
                        [type]="control.type"
                        [placeholder]="control.placeholder || ''"
                        [step]="control.type == 'number'? control.step : ''"
                    > 
                </ng-container> 
        
                <!-- CONTROL TYPE: DROPDOWN -->
                <select 
                    [ngClass]="{
                        'is-valid': dynamicFormGroup.controls[control.key].valid && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched),
                        'is-invalid': dynamicFormGroup.controls[control.key].invalid && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched)
                    }"
                    *ngSwitchCase="'dropdown'" [formControlName]="control.key" [multiple]="control?.multiple">
                    <option 
                        *ngFor="let option of control.options"
                        [selected]="option.default"
                        [value]="option.value"> {{ option.label }} </option>
                </select>

                <!-- CONTROL TYPE: SELECTBOX -->
                <fieldset *ngSwitchCase="'selectbox'">
                    <!-- LABEL FOR SELECTBOX CONTROLTYPES -->
                    <legend>{{ control.label }}</legend>
                    <div class="form-check form-check-inline" [formArrayName]="control.key">
    
                        <ng-container *ngFor="let option of control.options; index as optionIndex">
                            <input 
                                *ngIf="control.type == 'checkbox'"
                                [ngClass]="{
                                    'is-valid': dynamicFormGroup.controls[control.key].valid 
                                                    && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched),
                                    'is-invalid': dynamicFormGroup.controls[control.key].invalid 
                                                    && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched),
                                    'form-check-input': true
                                }"
                                [formControlName]="optionIndex"
                                [value]="option.value"
                                [name]="control.key"
                                type="checkbox"
                            >
                            <input 
                                *ngIf="control.type == 'radio'"
                                [ngClass]="{
                                    'is-valid': dynamicFormGroup.controls[control.key].valid 
                                                    && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched),
                                    'is-invalid': dynamicFormGroup.controls[control.key].invalid 
                                                    && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched),
                                    'form-check-input': true
                                }"
                                [formControlName]="control.key"
                                [value]="option.value"
                                [name]="control.key"
                                type="radio"
                            > 
                            <label [attr.for]="control.key" class="form-check-label"> {{ option.label || '' }} </label>
                        </ng-container>
                    </div>
                    
                </fieldset>

                <!-- CONTROL TYPE: TEXTAREA -->
                <textarea 
                    [formControlName]="control.key" 
                    *ngSwitchCase="'textareabox'" 
                    [ngClass]="{
                        'is-valid': dynamicFormGroup.controls[control.key].valid && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched),
                        'is-invalid': dynamicFormGroup.controls[control.key].invalid && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched)
                    }"
                    [rows]="control.rows" 
                    [cols]="control.cols"
                    [placeholder]="control.placeholder || ''"></textarea>
            </div>

            <!-- ERRORS -->
            <div *ngIf="dynamicFormGroup.controls[control.key].invalid && (dynamicFormGroup.controls[control.key].dirty || dynamicFormGroup.controls[control.key].touched)"
                    class="alert alert-danger">

                <div *ngIf="dynamicFormGroup.controls[control.key].errors.required">
                    {{ control.label }} is required.
                </div>
                <div *ngIf="dynamicFormGroup.controls[control.key].errors.minlength">
                    {{ control.label }} must be at least {{ control.validations.minlength }} characters long.
                </div>
                <div *ngIf="dynamicFormGroup.controls[control.key].errors.maxlength">
                    {{ control.label }} can have at-most {{ control.validations.maxlength }} characters.
                </div>
                <div *ngIf="dynamicFormGroup.controls[control.key].errors.min">
                    {{ control.label }} must be at-least {{ control.validations.min }}.
                </div>
                <div *ngIf="dynamicFormGroup.controls[control.key].errors.max">
                    {{ control.label }} must have at-most {{ control.validations.max }}.
                </div>
                <div *ngIf="dynamicFormGroup.controls[control.key].errors.pattern">
                    {{ control.label }} must match the pattern {{ control.validations.pattern }}.
                </div>

                <div *ngIf="dynamicFormGroup.controls[control.key].errors.fileErrors">
                    <p *ngFor="let error of fileErrors"> {{ fileErrors }}</p>
                </div>

                <!-- ERROR FOR CUSTOM VALIDATORS !!! YET TO BE TESTED -->
                <div *ngIf="control.validations.customValidations">
                    <div *ngFor="let validation of control.validations.customValidations">
                        <div *ngIf="dynamicFormGroup.controls[control.key].errors[validation.validator]">
                                {{ control.label }} must match the pattern {{ validations.message }}.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button 
                type="submit" 
                class="btn btn-primary"
                [disabled]="formData.submissionControls?.submit.validityCheck && !dynamicFormGroup.valid">{{ formData.submissionControls?.submit.label || "Submit" }}</button>
            <button  *ngIf="formData.submissionControls?.reset" type="reset" class="btn btn-danger">{{ formData.submissionControls?.reset.label || "Reset" }}</button>
        </div>
    </form>
    <ng-template #formNotValid>
        <p class="alert alert-danger">ERROR: {{ formErrorMessage }}</p>
    </ng-template>
</div>
<!-- 
<ng-template *ngIf="isLoading && isRetrieving">Loading Form..</ng-template>
<ng-template *ngIf="!isRetrieving && !isSuccessful">There is no form to be displayed</ng-template> -->